<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Surveillance System</title>
  <!-- Bootstrap core CSS-->
  <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Administrator Login</div>
      <div class="card-body">
        <form action="" method="post">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}" required>
          </div>
          <div class="form-group">
            <label for="input_password">Password</label>
            <input type="password" id="input_password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}" required>
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember Password</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Log In</button>
        </form>
        {%if error%}
        <p class="error">
          <strong>Error:</strong> {{error}} 
        </p>
        {%endif%}
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="static/jquery/jquery.js"></script>
  <script src="static/popper/popper.js"></script>
  <script src="static/bootstrap/js/bootstrap.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="static/jquery-easing/jquery.easing.js"></script>
</body>

</html>
