<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Surveillance System | Register Admin</title>
  <!-- Bootstrap core CSS-->
  <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
  <style>
    /* Remove input type number spinner */

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }

    .h1:hover {
      text-decoration: none;
    }
  </style>
</head>

<body class="bg-dark" style="height:90vh;">
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center" style="height:15% !important;">
        <a href="{{url_for('home')}}" class="h1">
          <span style="color:whitesmoke;">Surveillance</span>&nbsp;<span style="color:lightslategray;">System</span>
        </a>
    </div>
    <div class="row h-75 justify-content-center">
      <div class="col-4 justify-content-center">
        <div class="card card-register">
          <div class="card-header">Register an Account for Admin</div>
          <div class="card-body">
            <form action="" method="post">
              <div class="form-group">
                <label for="input_username" class="sr-only">Enter Username</label>
                <input class="form-control" id="input_username" type="text" aria-describedby="nameHelp" placeholder="Enter username" name="username"
                  value="{{request.form.username}}">
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="input_password">Password</label>
                    <input class="form-control" id="input_password" type="password" placeholder="Password" name="password" value="{{request.form.password}}">
                  </div>
                  <div class="col-md-6">
                    <label for="input_confirm_password">Confirm password</label>
                    <input class="form-control" id="input_confirm_password" type="password" placeholder="Confirm password">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="employee_id">Employee ID</label>
                    <input class="form-control" id="employee_id" type="number" placeholder="EMP ID" name="emp_id" value="{{request.form.emp_id}}">
                  </div>
                  <div class="col-md-6">
                    <label for="privilege_level">Privilege Level</label>
                    <select class="custom-select w-100" id="privilege_level" name="privilege_level" expand>
                      <option selected>Select Privilege Level</option>
                      {% for key, value in data.items() %}
                      <option value="{{ key }}">{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            {%if error%}
            <div class="alert alert-danger" role="alert">
              <strong>Error:</strong>
              <div>{{error}} </div>
            </div>
            {%endif%} {%if success%}
            <div class="alert alert-success" role="alert">
              <strong>Error:</strong>
              <div>New Admin has been successfully added!</div>
            </div>
            {%endif%}
            <div id="error"></div>
            <div class="text-center">
              <a class="d-block small" href="/forgot-password">Forgot Password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="static/jquery/jquery.js"></script>
  <script src="static/popper/popper.js"></script>
  <script src="static/bootstrap/js/bootstrap.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="static/jquery-easing/jquery.easing.js"></script>
  <script>
    $('form').submit(function (evt) {
      console.log($('#input_password').val() === $('#input_confirm_password').val());
      if ($('#input_password').val() === $('#input_confirm_password').val()) {
        if (/[A-Z]+[a-z]*[1-9]+/.test($('#input_password').val())) {
          return true;
        } else {
          $('#error').html('Password should have at least 1 Cap, 1 small and 1 number');
        }
      } else {
        $('#error').html('Passwords donot match!');
      }
      return false;
    });
  </script>
</body>

</html>