<div class="row h-100">
  <!--<div class="col-2 hidden-sm-down" style="background-color: greenyellow;">-->
    <!--Control Panel-->
    <!--<app-controlpanel></app-controlpanel>-->
  <!--</div>-->
  <div class="col-7 hidden-sm-down h-100">
    <div class="row h-60"  style="background-color:  lightcoral;">
      <div class="col-6 hidden-sm-down h-100">
        <div class="row h-50"  style="background-color:  #ffa300;">
          Video box 1
          <app-videobox></app-videobox>
        </div>
      </div>
      <div class="col-6 hidden-sm-down h-100">
        <div class="row h-50">
          <app-videobox></app-videobox>
        </div>
        <div class="row h-50"  style="background-color:  #ffa300;">
          <app-videobox></app-videobox>
        </div>
      </div>
    </div>
    <div class="row h-40" style="background-color: bisque">
      <!--<app-videobox></app-videobox>-->
      Camera Box
    </div>
  </div>
  <div class="col-5 hidden-sm-down h-100" style="background-color:  deepskyblue;">
      <!--<app-videobox></app-videobox>-->
    Face recognition details
  </div>
</div>
